{% extends 'base.html.twig' %}

{% block links %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% for message in app.flashes('info') %}
			<div class="alert alert-info alert-dismissible mt-md-3 fade show" role="alert">
				{{ 'Welcome back'|trans }}
				<strong>{{ app.user.fisrtName }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<div class="row pt-3">
			<div class="col col-md-9">
				<div class="w-100">
					<h1 class="border-bottom border-primary pb-2 mb-3">Agenda</h1>
				</div>
				<div class="ftco-section">
					<div class="elegant-calencar d-md-flex">
						<div class="wrap-header d-flex align-items-center img" style="background-image: url({{ asset('image/bg.jpg') }});">
							<p id="reset">{{ 'Today'|trans }}</p>
							<div id="header" class="p-0">
								<div class="pre-button d-flex align-items-center justify-content-center">
									<i class="bi bi-chevron-left"></i>
								</div>
								<div class="head-info">
									<div class="head-month"></div>
									<div class="head-day"></div>
								</div>
								<div class="next-button d-flex align-items-center justify-content-center">
									<i class="bi bi-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="calendar-wrap">
							<div class="w-100 button-wrap">
								<div class="pre-button d-flex align-items-center justify-content-center">
									<i class="bi bi-chevron-left"></i>
								</div>
								<div class="next-button d-flex align-items-center justify-content-center">
									<i class="bi bi-chevron-right"></i>
								</div>
							</div>
							<table id="calendar">
								<thead>
									<tr>
										{% for var in 2..8 %}
											<th>{{ date('2003-02-' ~ var)|date('D') }}</th>
										{% endfor %}
									</tr>
								</thead>
								<tbody>
									{% for j in 1..6 %}
										<tr>
											{% for i in 1..7 %}
												<td></td>
											{% endfor %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-md-3">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. quos eaque tempore sequi libero, tenetur dolor quis odit distinctio laborum illum placeat voluptatibus at id non perferendis iusto et recusandae numquam ipsa? Ab facilis obcaecati laborum eligendi ratione cupiditate amet? Culpa voluptatibus unde reiciendis. Totam exercitationem libero tempore, impedit asperiores officiis deserunt est blanditiis neque molestiae maxime eum quam ea quidem voluptatum cupiditate fugiat illo velit soluta! Voluptatum incidunt aperiam quo magnam accusantium omnis eos minima ipsam, quae error repellendus ex sunt molestiae dolore aliquid rem, laudantium ducimus sapiente eum ad iure quasi aut? Fuga praesentium eum ipsum aspernatur debitis quis incidunt facilis, in ex, saepe, nam harum accusamus unde vero
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
