{% extends 'base.html.twig' %}

{% block links %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.css" integrity="sha256-jLWPhwkAHq1rpueZOKALBno3eKP3m4IMB131kGhAlRQ=" crossorigin="anonymous">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% for message in app.flashes('info') %}
			<div class="alert alert-info alert-dismissible mt-md-3 fade show" role="alert">
				{{ 'Welcome back'|trans }}
				<strong>{{ app.user.fisrtName }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<div class="row">
			<div class="col col-md-9 mt-md-3 border-end border-2">
				<div class="d-flex border-bottom border-primary align-items-baseline">
					<h1 class="pb-2 mb-3">{{ 'Calendar'|trans }}</h1>
					<div class="ms-auto">
						<button type="button" class="btn btn-sm btn-outline-primary">
							<span class="d-none d-lg-inline">{{ 'Day view'|trans }}</span>
							<i class="bi bi-calendar-day"></i>
						</button>
						<button type="button" class="btn btn-sm btn-outline-primary">
							<span class="d-none d-lg-inline">{{ 'Week view'|trans }}</span>
							<i class="bi bi-calendar-week"></i>
						</button>
						<button type="button" class="btn btn-sm btn-primary">
							<span class="d-none d-lg-inline">{{ 'Month view'|trans }}</span>
							<i class="bi bi-calendar-month"></i>
						</button>
					</div>
				</div>
				<div class="d-flex flex-column pt-3">
					<div id="calendar"></div>
				</div>
			</div>
			<div class="col col-md-3 mt-md-3 px-0 bg-primary bg-opacity-25">
				<div class="d-flex text-dark px-2 bg-white border-bottom border-primary align-items-baseline">
					<h1 class="pb-2 mb-3">{{ 'Events'|trans }}</h1>
					<button type="button" class="ms-auto btn btn-sm btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#eventForm" aria-controls="eventForm">
						{{ 'New event'|trans }}
						<i class="bi bi-calendar2-plus"></i>
					</button>
				</div>
				<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="eventForm" aria-labelledby="eventLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="eventLabel">{{ 'Add new event'|trans }}</h5>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<div class="small">
							{% form_theme eventForm 'bootstrap_5_layout.html.twig' %}
							{{ form_start(eventForm) }}
							{{ form_row(eventForm.title) }}
							{{ form_row(eventForm.description) }}
							{{ form_row(eventForm.launchedOn) }}
							{{ form_end(eventForm) }}
						</div>
					</div>
					<div class="px-2 pt-3" id="eventInfo"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.js" integrity="sha256-cbWu30RZ0VQ5sBdqcxYa3S3nA+E1d/tkUcflycLQZ50=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/locales/{{ locale }}.js" integrity="sha256-tA2XdsRejAQMBFRuYc++BwRvojoPiI3N6gadEzNdIno=" crossorigin="anonymous"></script>
	<script src="{{ asset('js/main.js') }}"></script>

	{% set calendarEvents = [] %}
	{% for event in events %}
		{% set calendarEvents = calendarEvents|merge(event.toFullCalendarJsArray()) %}
	{% endfor %}
	<script>
		document.addEventListener('DOMContentLoaded', loadCalendar({{ calendarEvents|json_encode|raw }}));
	</script>
{% endblock %}
